@font-face {
    font-family: 'brandon_blk';
    src: url('../fonts/brandon-grotesque-black/brandon_blk.eot');
    src: local('../fonts/brandon-grotesque-black'), 
        url('../fonts/brandon-grotesque-black/brandon_blk.woff') format('woff'), 
        url('../fonts/brandon-grotesque-black/brandon_blk.ttf') format('truetype'), 
        url('../fonts/brandon-grotesque-black/brandon_blk.svg#webfontoNEpZXy2') format('svg');
}
@font-face {
    font-family: 'brandon_bld';
    src: url('../fonts/brandon-grotesque-bold/brandon_bld.eot');
    src: local('../fonts/brandon-grotesque-bold'), 
        url('../fonts/brandon-grotesque-bold/brandon_bld.woff') format('woff'), 
        url('../fonts/brandon-grotesque-bold/brandon_bld.ttf') format('truetype'), 
        url('../fonts/brandon-grotesque-bold/brandon_bld.svg#webfontoNEpZXy2') format('svg');
}
@font-face {
    font-family: 'brandon_med';
    src: url('../fonts/brandon-grotesque-medium/brandon_med.eot');
    src: local('../fonts/brandon-grotesque-medium'), 
        url('../fonts/brandon-grotesque-medium/brandon_med.woff') format('woff'), 
        url('../fonts/brandon-grotesque-medium/brandon_med.ttf') format('truetype'), 
        url('../fonts/brandon-grotesque-medium/brandon_med.svg#webfontoNEpZXy2') format('svg');
}
@font-face {
    font-family: 'brandon_reg';
    src: url('../fonts/brandon-grotesque-regular/brandon_reg.eot');
    src: local('../fonts/brandon-grotesque-regular'), 
        url('../fonts/brandon-grotesque-regular/brandon_reg.woff') format('woff'), 
        url('../fonts/brandon-grotesque-regular/brandon_reg.ttf') format('truetype'), 
        url('../fonts/brandon-grotesque-regular/brandon_reg.svg#webfontoNEpZXy2') format('svg');
}
@font-face {
    font-family: 'museo_sans700';
    src: url('../fonts/museosans_700-webfont.eot');
    src: url('../fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_700-webfont.woff') format('woff'),
         url('../fonts/museosans_700-webfont.ttf') format('truetype'),
         url('../fonts/museosans_700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;

}