
/*start media sizes*/

/* Large desktops and laptops */
@media (max-width: 1200px) {
	/*body{border: 10px solid green;}*/
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	/*body{border: 10px solid blue;}*/
	.panel{min-height: 150px;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	/*body{border: 10px solid red;}*/
	.panel{min-height: 160px;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	/*body{border: 10px solid yellow;}*/
	.h1 {font-size: 45px;}
	.h-line{  width: 88%;}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	/*body{border: 10px solid orange;}*/
	.h1 {font-size: 45px;}
	.panel{min-height: 160px;}
	.h-line{  width: 88%;}
	.footer-links{text-align: center;}
}

/* Landscape phones and smaller */
@media (max-width: 360px) {
	/*body{border: 10px solid blue;}*/
	.full-width{width: 100%;}
	.mid-width{width: 75%;}
	.half-width{width: 50%;}
	.small-width{width: 25%;}
	.panel{min-height: 110px;}
	.h1 {font-size: 38px;}
	.btn-section{padding: 0 20px; margin-bottom: 15px;}
	.top-header .col-md-2 img{width: 263px !important; margin-left: 18px !important;}
	.top-header .col-md-10 .btn-gray{  width: 94% !important; margin: 15px 0 !important;} 
	.footer-links{text-align: center;}
}
@media (max-width: 240px){
	.top-header .col-md-2 img{width: 186px !important; margin-left: 15px !important;}
	.top-header .col-md-10 .btn-gray{  width: 92% !important; margin: 15px 0 !important;} 
	.xs-txt{display: none;}
	.steps-panel .col-xs-2,.col-xs-6{ width: 25%;}
	.h-line{width: 85%;}
	.h1{font-size: 26px;}
	.footer-links{text-align: center;}
}
