/* ==== Main css ===== */
body{font-family: 'Source Sans Pro', sans-serif;}
.main-wrapper{ padding: 0 0 100px;   background: #F5FCF9 url('../img/cityscape.png') no-repeat bottom;} 
label {  margin-bottom: 20px; color: #5E6969;font-family: "brandon-grotesque-bold",Helvetica,Arial,sans-serif;font-size: 16px;text-transform: uppercase;letter-spacing: 1px;line-height: 1.5;}
.form-control {border: 2px solid #d6e1e5; box-shadow: none;}
.form-control:focus {border-color: #02baf2 !important; background: #fffdee; box-shadow: none;}
.input-group{margin-bottom: 20px;}
/* ==== Header css ===== */
.top-header {background-color: #FFF;font-family: 'Source Sans Pro', sans-serif;-webkit-box-shadow: 0 0 0 0 #ebeced; box-shadow: 0px 0px 2px 2px #ebeced; border-bottom: 1px solid #ebeced; padding-right: 20px;}
.phone-fb {line-height: 50px;font-size: 15px;font-weight: 300;}
.phone-fb span {font-size: 18px;font-weight: 400;}
.subform-heading{font-family: 'Georgia', sans-serif; color: #607d8b; margin-bottom: 30px;}
/* ==== Footer css ===== */
.footer {padding: 5px 0;background-color: #2ccd96;font-size: 13px; color: #FFF;font-weight: 300;}
.footer-links {padding-top: 25px;}
.footer-links li a {font-size: 16px;color: #fff;}
/* ==== Fonts css ===== */
.f-15{ font-size: 15px;}
.f-16{ font-size: 16px;}
.f-20{ font-size: 20px;}
.f-22{ font-size: 22px;}
.f-28{ font-size: 28px;}
.f-30{ font-size: 30px;}
.h1{font-size: 56px;}
/* ==== Padding css ===== */
.p-0{padding: 0;}
.p-20{padding: 20px;}
.pb-30{padding-bottom: 30px;}
.pb-50{padding-bottom: 50px;}
.ptb-40{padding: 40px 0;}
/* ==== Margin css ===== */
.m-0{margin: 0;}
.mt-20{margin-top: 20px;}
.mt-50{margin-top: 50px;}
.mb-20{margin-bottom: 20px;}
/* ==== Buttons css ===== */
.btn{outline: none !important;}
.btn-orange { outline: none !important;background-color: #ff553e; color: #fff; padding: 15px 10px 10px; border-radius: 5px; border: none; border-bottom: 3px solid #d94835; text-decoration: none !important; font-size: 18px !important; font-family: 'brandon_bld'; text-transform: uppercase;   margin-top: 20px;}
.btn-orange:hover {color: #fff !important;}
.btn-gray{outline: none !important; font-family: "brandon_bld";   padding: 10px 20px; font-size: 14px; font-weight: normal; line-height: 1.4; color: #FFF; background-color: #798f9a; border: medium none; border-radius: 4px; box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.15) inset; outline: none;}
.btn-gray:hover{color: #fff;}
.btn-gray,.btn-orange:focus{color: #fff !important;}
/*==== Application Form css ===== */ 
.select2-container{width: 100% !important;}
.select-hide{ display: none; }
h1.steps-heading {padding: 50px 0 0; font-family: 'brandon_blk'; text-transform: uppercase; letter-spacing: 15px; color: #455a64; font-weight: 900; letter-spacing: 2px;  margin-bottom: 20 !important;}
.form-panel form{ border: 1px solid #e3e3e3; padding: 30px; background-color: #fff;}
.help-block{font-size: 14px !important;color: #999;margin-top: 10px;}
form{ background: #fff; border: 2px solid #ebeced; padding: 20px 20px 40px; font-family: 'brandon_reg'; }
.active{ border: 2px solid  #2ccd96 !important; background: #fffdee !important; color: #455a64 !important; }
.panel{  min-height: 135px; text-align: center; padding-top: 15px; border-radius: 8px !important;   margin-bottom: 25px !important; background: #e1eef3 ; border: 2px solid #d6e1e5; color: #93a4aa ; text-transform: uppercase; font-weight: bold;}
.collateral{min-height: 80px !important;}
.panel-body{padding: 10px !important;}
.panel .panel-body i{ color: #0097a7 !important; font-size: 35px; }
.panel .panel-body ul{margin: 0;}
.panel .panel-body ul li:last-of-type{font-size: 15px;}
.check-ico{ position: absolute;  right: 0;  top: 10px;color: #2ccd96 !important; display: none;   width: 30px; margin-right: 30px;}
textarea{ width: 100%; min-height: 60px; border: 2px solid #d6e1e5; border-radius: 4px; padding: 15px; outline: #d6e1e5; }
textarea{ width: 100%; min-height: 60px; border: 2px solid #d6e1e5; border-radius: 4px; padding: 15px; outline: #d6e1e5; }
select,option,.customSelect,input,textarea::-webkit-input-placeholder {font-family: 'Georgia', sans-serif;color: #93a4aa;}
select,option,.customSelect,input,textarea:-ms-input-placeholder {font-family: 'Georgia', sans-serif;color: #93a4aa;}
select,option,.customSelect,input,textarea:-moz-placeholder {font-family: 'Georgia', sans-serif;color: #93a4aa;}
select,option,.customSelect,input,textarea::-moz-placeholder {font-family: 'Georgia', sans-serif;color: #93a4aa;}
.media .fa-dot-circle-o{background: #fff; z-index:999; font-size: 24px;display: block;}
.media .fa-check-circle-o{background: #fff; z-index:999; font-size: 24px;display: block;}
.blue-ico{ color: #02baf2;  }
.gray-ico{ color: #ebeced;  }
.green-ico{ color: #2ccd96;  }
.media .media-body{ font-size: 17px;  text-transform: uppercase; letter-spacing: 2px; font-family: 'brandon_bld';}
.txt-blue{color: #02baf2; }
.txt-gray{color: #edeeef; }
.txt-green{color: #2ccd96; }
.txt-red{color: #d65151; text-decoration: underline;}
.v-line{ border-left: 1px solid #e1eef3;  height: 35px;  position: absolute;   margin-left: 11px; }
.h-line{border: 1px solid #e1eef3; position: absolute;  width: 90%; margin-top: 10px; margin-left: 15px;}
.media{ margin-bottom: 35px; }
.sidebar-panel{ background: #fff; border: 2px solid #ebeced; padding: 20px; }
.sidebar{ margin-top: 20px; }
.sidebar img{ margin-bottom: 20px; }
.sidebar p em{ font-family: 'Georgia', sans-serif; color: #969fa2;}
.form-control{ margin-bottom: 15px;}
.logoContainer{ width:137px; height:137px; overflow: hidden;  margin: 63px auto 5px;border-radius: 5px;}
.logoContainer img{max-width:100%;}
.fileContainer{text-align: center;}
.fileContainer span{display:block;white-space:nowrap;cursor: pointer; color: #02baf2; font-size: 16px;}
.fileContainer input[type="file"]{opacity:0; margin: 0; padding: 0; width:100%; height:100%; left: 0; top: 0; position: absolute; cursor: pointer; }
/*select box*/
.customSelect {position: relative;   margin-bottom: 20px;}
select {width: 170px;}
.customSelect select { position: relative; width: 100%; height: 45px; }
select:focus, .customSelect select:focus + span.selText {border: 2px solid #02baf2 !important;}
.placeholderTxt {color:  #acacac;}
.customSelect .selText {border: 2px solid #d6e1e5; padding: 11px; border-radius: 3px; margin-bottom: 5px; display: block; white-space: nowrap; overflow: hidden; position: absolute; top: 0; left: 0; right: 0; color: #555;}
.customSelect .dropArrow { position: absolute; right: 1px; top: 6px;  width: 27px; height: 38px; border-radius: 0 3px 3px 0; }
.customSelect .dropArrow:before { content: " "; background: url(../img/sprite.png) 0 0 no-repeat; display: block; height: 9px; font-size: 30px; width: 17px; margin-top: 17px }
.tooltip{ width: 72% !important; padding: 15px; background: #fff !important; top: 64.5px !important; font-family: 'brandon_reg'; font-size: 19px;}
.tooltip.right .tooltip-arrow{margin-top: -55px !important;}
span.pull-left, span.pull-left a{color: #93a4aa;}
.src-income-panel{ border: 4px  dashed #d6e1e5; font-size: 18px; font-family: 'brandon_bld'; text-transform: uppercase; letter-spacing: 2px;  text-align: center;  background: #f5fcf9; border-radius: 4px;   padding: 20px; }	
.src-income-panel a{color: #93a4aa;}
.src-income-panel a:hover{text-decoration: none;}
.btn-panel{ margin-top: 20px; }
.back{font-size: 18px; margin-top: 35px;   margin-bottom: 20px;}
.upload-later-btn {padding: 10px 55px; margin-top: 40px;font-size: 15px;font-weight: normal;line-height: 1.4;color: #ffffff;background-color: #b9bcbe;border: none;border-radius: 4px;box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);}
.upload-later-btn:hover,
.upload-later-btn:focus {color: #ffffff;outline: none;}
.upload-later-btn:active,
.upload-later-btn.active {outline: none;box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);}
.upload-btn {padding: 10px 15px; margin-top: 40px;font-size: 15px;font-weight: normal;line-height: 1.4;color: #ffffff;background-color: #4FB2F0;border: none;border-radius: 4px;box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);}
.upload-btn:hover,
.upload-btn:focus {color: #ffffff;outline: none;}
.upload-btn:active,
.upload-btn.active {outline: none;box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);}
#dd-dropbox {padding: 15px 20px;text-align: center; width: 100%;color: #bbbbbb;border: 3px dashed #dddddd;border-radius: 4px;}
#dd-dropbox h6 {text-align: center;}
#dd-dropbox button {margin: 0 10px;}
.reminder-panel{ background: #ccf1fc; color: #0087bf; padding: 20px; border-radius: 5px; margin-bottom: 50px;}
.reminder-panel ul{margin-bottom: 20px; margin-top: 20px;}
.reminder-panel ul li{ font-size: 18px;}
.reminder-panel p{ font-family: 'brandon_bld';}
.reminder-btn{font-family: 'brandon_bld';padding: 5px 15px;margin-top: 40px;font-size: 14px;font-weight: normal;line-height: 1.4;color: #ffffff;background-color: #3eb5ac;border: none;border-radius: 4px;box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}
.btn-upload{margin-top:15px;}
.xs-txt{background: #F5FCF9; margin-left: 10px; font-size: 17px; text-transform: uppercase; letter-spacing: 2px; font-family: 'brandon_bld'; position: absolute; padding: 0 10px;}
.steps-panel{margin: 40px 0;}
.verification-form{ padding: 0; margin-top: 100px; padding-top: 50px;}
.veri-panel{text-align: center;}
.veri-panel h1{font-family: 'museo_sans700'; color: #fe6361; font-size: 80px;}
.btn-lenddo{background: #4c68a2; border: none;  color: #fff; font-family: 'museo_sans700'; font-size: 30px;}
.veri-footer{background: #fffdf0; margin-top: 100px;}
.btn-pin{margin: 0; width: 100%; padding: 15px;}

/*homepage css*/
.bounce {
  position:relative;
  height:50px;
  width:50px;
  -webkit-animation:bounce 1s infinite;
  background: url('../img/tooltip-bg.png') no-repeat;
  width: 312px; 
  height: 107px;
}

@-webkit-keyframes bounce {
  0%{
    bottom:5px;
  }
  
  25%, 75% {
    bottom:15px;
  }
  
  
  50% {
    bottom:20px;
  }
  
  100% {
    bottom:0;
  }
}
.bounce .media{padding: 10px;}
.bounce .media .media-body{color: #fff;}
.bounce .media .media-body em{text-transform: none;}
.bounce .media .media-body h4.media-heading em{font-size: 19px !important; letter-spacing: 0; font-family: 'brandon_blk';text-transform: uppercase;}
.home-form{
  border-radius: 5px; background: #fffacc;  border: none; padding: 5px;  border: 2px solid #2ccd96;
  ;
}
.home-form .btn{width: 100%; margin: 0; height: 60px;}
.input-money{
   background: transparent;outline: none; padding: 20px; width: 100%; border: none; height: 60px;  line-height: 60px !important; font-size: 35.86px !important; color: #455a64;
}
.input-money::-webkit-input-placeholder {font-family: 'Georgia', sans-serif; font-size: 35.86px !important; line-height: 60px; color: #93a4aa; margin-top: -20px;}
.input-money:-ms-input-placeholder {font-family: 'Georgia', sans-serif;font-size: 35.86px !important; line-height: 60px; color: #93a4aa; margin-top: -20px;}
.input-money::-moz-placeholder {font-family: 'Georgia', sans-serif;font-size: 35.86px !important; line-height: 60px; color: #93a4aa; margin-top: -20px;}